body{
    font-family: 'Poppins', sans-serif;
   
}

/* .border-my{
    border-radius: 30px;
    
} */
.my-foot{
    height: 230px;
    background-color: black;
}
.my-botom{
    margin-bottom: 150px;
}

.my-colour{
    color: rgb(0, 255, 106);
}